
.app {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;

  display: grid;

  grid-template-rows: auto 1fr auto;

  color: white;
}

.appHeader {
  display: flex;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  margin: 15px 0;
}
